nav {
  display: flex;
  justify-content: flex-end;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
li {
  list-style: none;
  margin: 10px;
}
.button {
  height: 30px;
  background-color: #1a73e8;
  color: #ffffff;
  padding: 0.5rem;
}

.button:link {
  text-decoration: none;
}
.button:visited {
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}
.button:active {
  text-decoration: none;
}
